@model ListBookApp.Models.Book.EditBook

@{
    ViewData["Title"] = "Edit";
}

<div class="row border-left">
    <form asp-action="Edit" method="post" class="m-5">
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="IdBook" type="hidden">
        <div class="row form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" maxlength="200" accesskey="n" tabindex="1"
                class="form-control">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="row form-group">
            <label asp-for="ISBN"></label>
            <input asp-for="ISBN" maxlength="16" accesskey="I" tabindex="2"
                class="form-control">
            <span asp-validation-for="ISBN"></span>
        </div>
        <div class="row form-group">
            <input type="submit" class="btn btn-success" value="Save" tabindex="3" accesskey="s">
            <a type="button" class="btn btn-dark ml-5" tabindex="4" accesskey="b"
                asp-action="Index">Back</a>
        </div>
    </form>
</div>